*,
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: lavender;
}

.titlepost {
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
}

.card {
  margin-top: 50px;
  border: 8px solid black;
  text-align: center;
  border-radius: 50px;
  margin-top: 50px;
  background-color: lemonchiffon;
  padding: 20px;
  box-shadow: 10px 10px 10px lightblue;
}

.Gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image {
  width: 350px;
  height: 250px;
}
