*,
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: lightpink;
}

.titlepost {
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
  font-size: 200%;
  animation: rotation 2s infinite linear;
}

.Gallery {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  border: 8px solid rgba(233, 160, 160, 0.878);
  text-align: center;
  border-radius: 50px;
  background-color: pink;
  padding: 20px;
  box-shadow: 10px 10px 10px lightcoral;
  transition: all 1s;
  filter: grayscale(100%);
}

.image {
  width: 350px;
  height: 250px;
}

.link {
  color: blue;
}

.card:hover {
  filter: grayscale(0);
}
.cc:hover {
  transform: scale(1.5) rotate(360deg);
  animation: fade 1s;
}
.ccw:hover {
  transform: scale(1.5) rotate(-360deg);
  animation: fade 1s;
}

.flip:hover {
  transform: scale(1.5);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
